<p>
  <a href="{{site.dc_site}}">Data Carpentry</a>
   workshops are for any researcher who has data they want to analyze, 
  and no prior computational experience is required. 
  This hands-on workshop teaches basic concepts, skills and tools 
  for working more effectively with data.
</p>
<p>We will cover Data Organization in spreadsheets, Introduction to Python, Data Analysis and 
  Visualisation in Python, Data Management with SQL and Developing post-workshop learning communities. 
  Participants should bring their laptops and plan to participate actively. 
  By the end of the workshop learners should be able to more effectively manage and 
  analyze data and be able to apply the tools and approaches directly to their ongoing research.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
