<div class="row">
      <table class="table table-striped">
   
      <th align="center" colspan="2"> <h3>Day 1 - Thursday 11 Jan</h3></th>                                <th align="center" colspan="2"> <h3>Day 2 - Friday 12 Jan</h3></th>  
      <tr> <td align="center">08:30</td>  <td align="left">Ice Breaker/Introductions</td>   			<td align="center">08:30</td>  <td align="left">Warm up</td>     </tr> 
      <tr> <td align="center">09:00</td>  <td align="left">Data organisation in Spreadsheets</td>               <td align="center">9:00</td>  <td align="left">Data Management with SQL</td>     </tr>
      <tr> <td align="center">10:30</td>  <td align="left">Coffee</td>                                     <td align="center">10:30</td>  <td align="left">Coffee</td>                </tr>
      <tr> <td align="center">10:50</td>  <td align="left">Data Cleaning with Open Refine</td>                     <td align="center">10:50</td>  <td align="left">Data Management with SQL</td>      </tr>
      <tr> <td align="center">12:20</td>  <td align="left">Lunch</td>                                     <td align="center">12:20</td>  <td align="left">Lunch </td>                        </tr>
      <tr> <td align="center">13:00</td>  <td align="left">Programming with Python</td>                     <td align="center">13:00</td>  <td align="left">Programming with Python</td>      </tr>
      <tr> <td align="center">14:30</td>  <td align="left">Coffee </td>                                     <td align="center">14:30</td>  <td align="left">Coffee </td>                             </tr>
      <tr> <td align="center">16:20</td>  <td align="left">Wrap up</td>                                    <td align="center">16:20</td>  <td align="left">Wrap up</td>      </tr>
 
    </table>

</div>
