<div class="row">
      <table class="table table-striped">
   
      <th align="center" colspan="2"> <h3>Day 1 - Tuesday 10 Jul</h3></th>                                <th align="center" colspan="2"> <h3>Day 2 - Wednesday 11 Jul</h3></th>  
      <tr> <td align="center">09:00</td>  <td align="left">Ice Breaker/Introductions</td>   			<td align="center">09:00</td>  <td align="left">Warm up</td>     </tr> 
      <tr> <td align="center">09:30</td>  <td align="left">Data organisation in Spreadsheets</td>               <td align="center">9:30</td>  <td align="left">Data Management with SQL</td>     </tr>
      <tr> <td align="center">11:00</td>  <td align="left">Coffee</td>                                     <td align="center">11:00</td>  <td align="left">Coffee</td>                </tr>
      <tr> <td align="center">11:20</td>  <td align="left">Introduction to Python</td>                     <td align="center">11:20</td>  <td align="left">Data Management with SQL</td>      </tr>
      <tr> <td align="center">12:50</td>  <td align="left">Lunch</td>                                     <td align="center">12:50</td>  <td align="left">Lunch </td>                        </tr>
      <tr> <td align="center">13:30</td>  <td align="left">Data analysis and visualisation with Python</td>    <td align="center">13:30</td>  <td align="left">Data analysis and visualisation with Python</td>      </tr>
      <tr> <td align="center">15:00</td>  <td align="left">Coffee </td>                                     <td align="center">15:00</td>  <td align="left">Coffee </td>                             </tr>
      <tr> <td align="center">15:15</td>  <td align="left">Python continued</td> 	   <td align="center">15:15</td> <td align="left">Python continued </td>  </tr>
      <tr> <td align="center">16:45</td>  <td align="left">Wrap up</td>                                    <td align="center">16:45</td>  <td align="left">Wrap up</td>      </tr>
 	  <tr> <td aligh="center">17:00</td>  <td align="left">End </td>									   <td align="center">17:00</td>  <td align="left">End </td>  </tr>    
 	  
 	  </table>

</div>
